*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    }

    /*header*/


    

#tesla_scritta {
letter-spacing: 4px;
font-weight: bolder;
}



#tesla_scritta:hover{
    cursor: pointer;
}

#veicoli:hover, #ricarica:hover, #energia:hover,#scoprire:hover, #shop:hover {

text-decoration: underline ;
cursor: pointer;
}


/*hero*/

.carousel-caption{

    top: 0;
    bottom: 0;
    transform: translateY(-25%);

}

.btn-primary{

    background-color: #3E6AE1;

}

.btn-primary:hover{

    background-color: #365BBA;
}


.carousel-caption h1 {

    font-size: 3.5rem;
    letter-spacing: 1px;
}

.carousel-caption .btn {

   font-weight: 500;
}

.carousel-item img {

    height: 100vh;
    object-fit: cover;
}



/* 2 div  */






.prova_tesla img {

    width: 30%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;

}


/*section*/

.modelli {


    height: 100vh;
    width: 100%;
}


.carta-modello:hover {
transform: scale(1.03);
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);


}


.card_y {

    
    bottom: 20px;
    left: 20px;
}



/* sezione 2 div */


.contenitore {

    width: 200px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;

}

.contenitore img {

    width: 100%;
    
    object-fit: cover; /* proporzionata*/

}

.section_div {

    height: 300px;
}

.text-cnt {

    max-width: 500px;

}







/*due cards*/

.carta {


width: 600px;
height: 500px;

}


.policy {


margin-left: 200px;
margin-right: 200px;


}


.contatti:hover {


    cursor: pointer;
}




/*section powerwall*/


.powerwall {

    padding: 20px;
}

.card-pwr {

width: 100%;

} 

.card-mega  {

width: 90%;


}
