*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family:"Roboto", sans-serif"
    }

.item_right {

    margin-left: auto;
}

#tesla_scritta:hover{
    cursor: pointer;
}

#veicoli:hover, #ricarica:hover, #energia:hover,#scoprire:hover, #shop:hover {

text-decoration: underline ;
}