*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    }

    /*header*/


    

#tesla_scritta {
letter-spacing: 4px;
font-weight: bolder;
}



#tesla_scritta:hover{
    cursor: pointer;
}

#veicoli:hover, #ricarica:hover, #energia:hover,#scoprire:hover, #shop:hover {

text-decoration: underline ;
cursor: pointer;
}


/*hero*/

.hero, section {

height: 100vh;
width: 100%;
}


.model3, .modely {


position: absolute;
top: 50px;

}

.carousel-item {
height: 100vh;
object-fit:cover;

}







/*section*/

.modelli {


    height: 100vh;
    width: 100%;
}


.card_y {

    
    bottom: 20px;
    left: 20px;
}



/* sezione 2 div */


.contenitore {

    width: 200px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;

}

.contenitore img {

    width: 100%;
    
    object-fit: cover; /* proporzionata*/

}

.section_div {

    height: 300px;
}

.text-cnt {

    max-width: 500px;

}







/*due cards*/

.carta {


width: 600px;
height: 500px;

}


.policy {


margin-left: 200px;
margin-right: 200px;


}


.contatti:hover {


    cursor: pointer;
}




/*footer*/

